<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historia Clinica</title>
    <link rel="shortcut icon" href="https://desarrollandolo.net/pablo_pruebas/consultorio/logoConsultorio.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cbc12b4353.js" crossorigin="anonymous"></script>
    <style>
        *{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 125px;
    display: block;
    margin: auto;
}
.logo p{
    font-family: fantasy;
    font-size: 35px;
    color: #5db7e1;
}
.cabeza{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;

}
#menu{
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}
#menu li>a{
    color: #b7b7b7;
    font-size: 30px;
    padding: 20px;
    display: block;
}
#menu li>a:hover{
    color: #000;
  }
.abs-center .card img{
    max-width: 75px;
    margin: auto;
}
.abs-center .card .card-body h5{
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.abs-center .card .card-text{
    color: #fff;
    margin-top: 30px;
    font-size: 17px;
}

.contenedor{
    max-width: 120rem; /*=1200px*/
    margin: 0 auto;
}
.imagen-contacto {
    background-image: url(/assets/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.contenido-contacto{
    flex: 1; /*este flex le da todo el espacio del contenedor*/
    color: #ffffff;
}
.conta-botom{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
    display: inline-block;
    text-align: center;
    background-color: #435ba1;
}
.conta-botom:hover{
    color: #435ba1;
    background: #fff;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: rgba(0,0,0,.07);;
    color: #000;
    font-size: 16px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;

}
[data-title] {
    position: relative;
}
    </style>
</head>
<body>
<header>
    <div class="container">
        <div class="cabeza">
            <div class="logo">
                <img class="logo1 rounded" src="https://desarrollandolo.net/pablo_pruebas/consultorio/logo.png" title="Consultorio">
                <p>Consultorio Online</p>
            </div>
            <div>
                <nav>
                    <ul class="navbar-nav" id="menu">
                        <li class="nav-item"><a href="../">Inicio</a></li>
                        <li class="nav-item"><a href="../medico/list">Médicos</a></li>
                        <li class="nav-item"><a href="../paciente/list1">Pacientes</a></li>
                        <li class="nav-item"><a href="../cita/list">Citas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="card m-5">
        <h5 class="card-header">Historia Clínica</h5>
        <div class="card-body">
            <div class="row">
                <h5 class="card-title col-10">Consulta de las Historias Clínica</h5>
                <a href="/historia_cli/nuevo" class="col-2">
                <button type="button" class="btn btn-outline-dark">Nueva</button>
                </a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Fórmula</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Diagnóstico</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="historia_clinica:${historia}">
                    <th th:text="${historia_clinica.id_numero_historia}"></th>
                    <td th:text="${historia_clinica.descripcion}"></td>
                    <td th:text="${historia_clinica.fecha}"></td>
                    <td th:text="${historia_clinica.hora}"></td>
                    <td th:text="${historia_clinica.id_medico}"></td>
                    <td th:text="${historia_clinica.id_formula}"></td>
                    <td th:text="${historia_clinica.id_paciente}"></td>
                    <td th:text="${historia_clinica.diagnostico}"></td>
                    <td>
                        <a href="editar">
                            <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-pencil" data-title="Agregar"></i></button>
                        </a>

                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>