<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <title>Acudientes</title>
</head>
<body>
<header>
  <div class="m-0 text-start">
    <img height=120 src="../static/imagenes/LOGOTIPO.png">
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Consultorio on line</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../pacientes/list.html">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../profesionales/list.html">Profesionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../cita/list.html">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../historia_clinica/list.html">Historia clínica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../especialidad/list.html">Especialidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Acudientes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
<section>
  <div class="card m-1" >
    <div class="card-header">
      <div class="row">
        <div class="col-9">
          ACUDIENTES
        </div>
        <div class="col-3 text end">
          <a href="create">
            <button type="button" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead>
        <tr class="table-info">
          <th scope="col">Id Acudiente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Paentezco</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th scope="col">Correo</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="acudiente:${acudiente}">
          <td th:text="${acudiente.id_documento_acu}"></td>
          <td th:text="${acudiente.nombre}"></td>
          <td th:text="${acudiente.apellido}"></td>
          <td th:text="${acudiente.parentezco}"></td>
          <td th:text="${acudiente.telefono}"></td>
          <td th:text="${acudiente.direccion}"></td>
          <td th:text="${acudiente.correo}"></td>
          <td colspan="3" class="text-center">
            <button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>