*{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 125px;
    display: block;
    margin: auto;
}
.logo p{
    font-family: fantasy;
    font-size: 35px;
    color: #5db7e1;
}
.cabeza{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;

}
#menu{
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}
#menu li>a{
    color: #b7b7b7;
    font-size: 30px;
    padding: 20px;
    display: block;
}
#menu li>a:hover{
    color: #000;
  }
.abs-center .card img{
    max-width: 75px;
    margin: auto;
}
.abs-center .card .card-body h5{
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.abs-center .card .card-text{
    color: #fff;
    margin-top: 30px;
    font-size: 17px;
}

.contenedor{
    max-width: 120rem; /*=1200px*/
    margin: 0 auto;
}
.imagen-contacto {
    background-image: url(../assets/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.contenido-contacto{
    flex: 1; /*este flex le da todo el espacio del contenedor*/
    color: #ffffff;
}
.conta-botom{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
    display: inline-block;
    text-align: center;
    background-color: #435ba1;
}
.conta-botom:hover{
    color: #435ba1;
    background: #fff;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: rgba(0,0,0,.07);;
    color: #000;
    font-size: 16px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;

}
[data-title] {
    position: relative;
}