<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <title>¡bienvenidos!</title>

</head>

<body>
<header>
  <!-- <img src="../static/imagenes/naturaleza.jpeg" class="img-fluid" width="auto" height="auto" alt="noo0000"> -->
</header>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333596;">
  <div class="container-fluid" >
    <a class="navbar-brand" href="index.html"><i class="bi bi-house-door"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#"><i class="bi bi-calendar3"></i> Agendar Cita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"><i class="bi bi-calendar2-check"></i> Citas Agendadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="bi bi-ui-checks"></i> Formulas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card" >
  <div class="card-header">
Formulas
    <div class="col-3 text-end">
      <a href="createFormula" title="crear">
        <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle"></i></button>
      </a>
    </div>
  </div>
  <div class="card-body">

    <table class="table table-hover table-bordered">
      <thead>
      <tr class="table-info">
        <th scope="col">Numero Formula</th>
        <th scope="col">Medicamento</th>
        <th scope="col">Indicaciones</th>
        <th scope="col">cantidad</th>
        <th scope="col">Cita</th>

        <th scope="col" class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="formula:${formulas}">
        <td th:text="${formula.id_formula}"></td>
        <td th:text="${formula.id_medicamento}"></td>
        <td th:text="${formula.indicaciones}"></td>
          <td th:text="${formula.cantidad}"></td>
          <td th:text="${formula.id_cita}"></td>
        <td colspan="3" class="text-center">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
          <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
</body>
</html>
