<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <title>Paciente</title>

</head>
<body>
<header>
  <div class="m-1 text-start">
    <img height="80" src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1522534228/content-items/002/311/621/goku-original.gif?1522534228">
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333596;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="index.html"><i class="bi bi-house-door"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#"><i class="bi bi-calendar3"></i> Agendar Cita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><i class="bi bi-calendar2-check"></i> Citas Agendadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi bi-ui-checks"></i> Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
<section>
  <div class="card m-1" >
    <div class="card-header">
      <div class="row">
        <div class="col-9">
          Paciente
        </div>
        <div class="col-3 text end">
          <a href="create">
            <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>
            </button>
          </a>
        </div>
      </div>

    </div>
    <div class="card-body">

      <table class="table table-hover table-bordered">
        <thead>
        <tr class="table-info">
          <th scope="col">Id paciente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha nac</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th scope="col">Correo</th>
          <th scope="col">Id acudiente</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="paciente:${paciente}">
          <td th:text="${paciente.id_documento_paciente}"></td>
          <td th:text="${paciente.nombre}"></td>
          <td th:text="${paciente.apellido}"></td>
          <td th:text="${paciente.fecha_nacimiento}"></td>
          <td th:text="${paciente.telefono}"></td>
          <td th:text="${paciente.direccion}"></td>
          <td th:text="${paciente.correo}"></td>
          <td th:text="${paciente.id_acudiente}"></td>
          <td colspan="3" class="text-center">
            <a href="edit">
              <button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
            </a>

            <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Universidad Industrial de santander
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>